@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Jaro:opsz@6..72&display=swap');
html {
    scroll-behavior:smooth;
}
body {
    font-family: 'Jaro', sans-serif;
    background-color: #d0bbe9;
    background-image:url('Wallpaper.jpeg');
    margin: 10px;
    padding: 20px;
}
*{
    color:#2c105a;
    font-size: large;
}
h1 + p{
    cursor: default;
}
.one ~ .two{
    color: #520efe;
}
.three ~ .four{
    color: #520efe;
}
.five ~ .six{
    color: #520efe;
}
h1{
    font-weight: bold;
    cursor: default;
}

.Title_one{
    font-size: 30px;
    cursor: default;
}
.list li{
    color: #520efe;
    cursor: default;
    line-height: 32px;
}

.Summery{
    font-style: italic;
    cursor: default;
    text-decoration: underline dotted #2c105a;
}
.img_c{
    transition: 1s;
    border-radius: 10px;
    border:5px solid #d0bbe9;
    box-shadow: 1px 1px #d0bbe9 
}

.img_c:hover{
    color: #ee0f0f;
    transform: scale(1.2);
    z-index: 2;
}

img {
    max-width: 100%;
    height: auto;
    place-items: start;
    z-index: 1;
}

.corgi{
    position: absolute;
   top: 1140px;
   left: 700px;
   border-radius: 10px;
   z-index: -1000;

}

.linkk{
    color:dodgerblue;
    cursor: pointer;
    text-decoration: none;
}

a{
    color:dodgerblue;
    text-decoration: none;
}
a:hover{
    color: #ee0f0f;
}
ul > li:hover{
    color: #ee0f0f;
}

p{
    cursor: default;
    text-align: justify;
}
span{
    cursor: default;
    width: 50px;
    margin: 1em;
    text-decoration: underline dotted #2c105a;
}

div {
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 300px;
    min-height: 100px;
    margin: 1em;
    padding: 10px;
    border: 5px solid black;

    /*position: absolute*/
}

.div_one{
    position: relative;
    left: 390px;
}

/*.div_two{
   position: absolute;
   top: 530px;
   left: 790px; 
   z-index: 10;
}*/